.git
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
__pypackages__/
*.env
*.sqlite3
*.db
*.log
.DS_Store
.idea/
.vscode/
build/
dist/
*.egg-info/
pip-wheel-metadata/
docker-compose.override.yml
!chroma_db/
!chroma_db/*.sqlite3